html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial,  sans-serif;
    font-size: $m-size;
}
.nav-element {
    // display: inline;
    margin: .5%;
}
.navbar {
    display: flex;
}
.active-nav-element {
    font-weight: bold;
}